{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'greetings.js') }}"></script>


<h2 class="strong text-style-dark-grey text-title-font">Greetings</h2>
{% for key, value in lesson.items() %}
    {% if key <= 4 %}
        <div class = "progress_guide">
            <button id="video1" class = "btn btn-accent text-title-font button-text-size">Nice to meet you</button>
            <button id="video2" class = "btn btn-accent text-title-font button-text-size">How are you</button>
            <button id="video3" class = "btn btn-accent text-title-font button-text-size">Good</button>
            <button id="video4" class = "btn btn-accent text-title-font button-text-size">Bad</button>
        </div>
        <p id="greetingtitle">{{value.videoName}}</p>
        <iframe width="560" height="315" src={{value.videoLink}} frameborder="0" allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% if key == 1 %}
            <br>    
            <button id="next" class="btn btn-accent text-title-font button-text-size">Next</button>
        {% else %}
            <br>
            <button id="prev" class="btn btn-accent text-title-font button-text-size">Previous</button>
            <button id="next" class="btn btn-accent text-title-font button-text-size">Next</button>
        {% endif %}
        {%if value.videoTip != ""%}
            <p id="videotips"> Tip: {{value.videoTip}}</p>
        {%endif%}
        {%if value.videoTipLink != ""%}
            <p id="videotips"> Tip: </p>
            <iframe width="350" height=auto src={{value.videoTipLink}} frameborder="0"></iframe>
        {%endif%}
    {% endif %}
{% endfor %}
{% endblock %}