{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'end.js') }}"></script>


<div id="welcome">
    <strong class="text-style-dark-grey">
        American Sign Language
    </strong>
</div>
<hr class = "line-grey">
<p class="sub_title text-style-dark-grey">
    a bridge between hearing people and the deaf group
</p>

<br>
<div class = "row">
    <div class = "col-1"></div>
    <div class = "col-5">
        <p class="text-style-dark-grey" >
            <span class = "highlight">Learn</span> conversational ASL phrases:
            Include 11 short videos of basic ASL gestures.
        <div class = "sub_title">
            <button id="start" class="btn btn-accent">Let's start!</button>
        </div>
        </p>
    </div>
    <div class = "col-5">
        <p class="text-style-dark-grey">
            <span class = "highlight">Quiz</span> yourself on ASL phrases:
            Include multiple choices to identify the meaning of gestures.</p>
        <div class = "sub_title">
            <button id="retake-quiz" class="btn btn-accent">Take the Quiz</button>
        </div>
    </div>
    <div class = "col-1"></div>
</div>

<div id="welcomeimg">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/American_Sign_Language_ASL.svg" height=300px width=300px>
</div>

{% endblock %}