{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='learn.css')}}">

<script>
    let learn_type = {{learn_type | tojson | safe}};
    let learn_name = {{learn_name | tojson | safe}};
    let item = {{item | tojson| safe}}
    let type_list = {{type_list | tojson| safe}}
</script>

<div class="row">
    <div class="col">
        <h2 class="strong text-style-dark-grey text-title-font">{{learn_type | capitalize}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="list-group">
            {% for i in type_list %}
            {% if i["videoId"] == item["videoId"] %}
            <button type="button" class="list-group-item list-group-item-action btn-accent active" onclick="location.href='/learn/{{i['videoId']}}'">{{i['videoName']}}</button>
            {% else %}
            <button type="button" class="list-group-item list-group-item-action btn-accent" onclick="location.href='/learn/{{i['videoId']}}'">{{i['videoName']}}</button>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-9">
        <div class="row" id="title">
            <h3 class="text-style-dark-grey text-title-font">{{learn_name}}</h3>
        </div>
        <div class="row">
            <iframe width="560" height="315" src={{item['videoLink']}} frameborder="0" allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        {% if item["videoTip"] != "" %}
        <div class="row">
            <p id="videotips" class="text-style-dark-grey"> Tip: {{item["videoTip"]}}</p>
        </div>
        {% endif %}
        {% if item["videoTipLink"] != "" %}
        <div class="row">
            <p id="videotips" class="text-style-dark-grey"> Tip:
                <span>
                    <iframe width="350" height=auto src={{item["videoTipLink"]}} frameborder="0"></iframe>
                    </span>
            </p>
        </div>
        {% endif %}
        <br>
        <div class="row">
            <div class="col-6">
                {% if item["videoId"] != 1 %}
                <button type="button" class="btn btn-accent text-title-font button-text-size" onclick="location.href='/learn/{{item['videoId']-1}}'">Previous</button>
                {% endif %}
            </div>
            <div class="col-6">
                <div class="text-right">
                    {% if item["videoId"] != 11 %}
                    <button type="button" class="btn btn-accent text-title-font button-text-size" onclick="location.href='/learn/{{item['videoId']+1}}'">Next</button>
                    {% else %}
                    <button type="button" class="btn btn-accent text-title-font button-text-size" onclick="location.href='/quiz'">Take a Quiz!</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="row">
    <div class="col-3">
        <div class="list-group">
            {% for i in data %}
                {% if i["videoType"] == learn_type %}
                    <button type="button" class="list-group-item list-group-item-action btn-accent">{{i["videoName"]}}</button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-9">
        {% for i in data %}
            
        {% endfor %}
    </div>
</div> -->

<!-- {% for i in data %}

    {% if i["videoType"] == learn_type %}

    {% endif %}

{% endfor %} -->

<!-- <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active btn-accent" aria-current="true">
      The current button
    </button>
    <button type="button" class="list-group-item list-group-item-action btn-accent">A second item</button>
    <button type="button" class="list-group-item list-group-item-action btn-accent">A third button item</button>
    <button type="button" class="list-group-item list-group-item-action btn-accent">A fourth button item</button>
    <button type="button" class="list-group-item list-group-item-action btn-accent" disabled>A disabled button item</button>
  </div> -->

{% endblock %}