{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'manners.js') }}"></script>

<b class="title">Manners</b>

{% for key, value in lesson.items() %}
    {% if key > 4 and key <= 8 %}
        <div class = "progress_guide">
            <button id="video1" class = "quiz_button">Thank you</button>
            <button id="video2" class = "quiz_button">You are welcome</button>
            <button id="video3" class = "quiz_button">Sorry</button>
            <button id="video4" class = "quiz_button">Please</button>
        </div>
        <p id="mannerstitle">{{value.videoName}}</p>
        <iframe width="560" height="315" src={{value.videoLink}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% if key == 5 %}
            <br>    
            <button id="next2">Next</button>
        {% else %}
            <br>
            <button id="prev2">Previous</button>
            <button id="next2">Next</button>
        {% endif %}
        {%if value.videoTip != ""%}
            <p id="videotips"> Tip: {{value.videoTip}}</p>
        {%endif%}
        {%if value.videoTipLink != ""%}
            <p id="videotips"> Tip: </p>
            <iframe width="350" height=auto src={{value.videoTipLink}} frameborder="0"></iframe>
        {%endif%}
    {% endif %}
{% endfor %}
{% endblock %}