{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col">
        <h2 class="strong text-style-dark-grey text-title-font">Quiz</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <p class="text-style-dark-grey">
            Ready for the quiz? You could
            <span class="highlight">click on the menu bar</span> to review again
            or
            <span class="highlight">start quiz</span>!
        </p>
        <p class="text-style-dark-grey">Press the button to continue.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-accent" onclick="location.href='/quiz/question/1'">Start the Quiz!</button>
    </div>
</div>

{% endblock %}