:root {
    --base-pc-color: #86bfc8;
    --accent-pc-color: #115369;
    --dark-pc-color: #363944;
    --light-pc-color: #D9DBF1;
    --white-pc-color: #F5F5F5;
}

.btn-accent {
    color: var(--white-pc-color);
    background-color: var(--accent-pc-color);
    border-color: var(--dark-pc-color);
}
  
.btn-accent:hover,
.btn-accent:focus,
.btn-accent:active,
.btn-accent.active,
.open .dropdown-toggle.btn-accent {
    color: var(--white-pc-color);
    background-color: var(--dark-pc-color);
    border-color: var(--dark-pc-color);
}
  
.btn-accent:active,
.btn-accent.active,
.open .dropdown-toggle.btn-accent {
    background-image: none;
}

.btn-accent.disabled,
.btn-accent[disabled],
fieldset[disabled] .btn-accent,
.btn-accent.disabled:hover,
.btn-accent[disabled]:hover,
fieldset[disabled] .btn-accent:hover,
.btn-accent.disabled:focus,
.btn-accent[disabled]:focus,
fieldset[disabled] .btn-accent:focus,
.btn-accent.disabled:active,
.btn-accent[disabled]:active,
fieldset[disabled] .btn-accent:active,
.btn-accent.disabled.active,
.btn-accent[disabled].active,
fieldset[disabled] .btn-accent.active {
    background-color: var(--dark-pc-color);
    border-color: var(--dark-pc-color);
}

.btn-accent .badge {
    color: var(--accent-pc-color);
    background-color: var(--white-pc-color);
}

.btn-accent {
    color: var(--light-pc-color);
}