@import url(color.css);

body {
    background-color: var(--base-pc-color);
}

.text-style-dark-grey {
    color: var(--dark-pc-color);
}

.text-title-font {
    font-family: 'Old Standard TT', serif
}

#navbar {
    background-color: var(--light-pc-color);
    margin-bottom: 10px;
}

.nav-link {
    color: var(--dark-pc-color);
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
}

strong {
    display:inline-block;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 50px;
}

.strong {
    display:inline-block;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 50px;
}

p {
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
}

#welcomeimg {
    float: right;
    display: inline;
}
#welcome {
    text-align:center;
}

/* button {
    background-color: #13c2b3;
    font-size: 20px;
    color: white;
} */

.progress_guide {
    margin: 20px;
    text-align: center;
}


/* quiz part css */

.quiz_button {
    background-color: #13c2b3;
    font-size: 20px;
    color: white;
    font-family: 'Old Standard TT', serif;
}

.button-text-size {
    font-size: 20px;
}

.quiz_title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Old Standard TT', serif;
    margin: 10px 0 15px 0;
}

.quiz_choice {
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
    border-radius: 10px;
    border: none;
    padding: 7px 10px;
    margin: 5px;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.quiz_center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: left;
}

.video_size {
    width: 500px;
    height: 300px
}

.hidden{
    visibility: hidden;
}

.quiz_next {
    display: inline-block;
    padding: 8px 16px;
}

.title {
    font-size: 40px;
}

#greetingtitle, #mannerstitle {
    text-align:center;
    color: var(--dark-pc-color);
}

iframe {
    display: block;
    border-style:none;
    margin: 0 auto;
}

#next, #next2 {
    display: block;
    float: right;

}

#videotips{
    display: block;
    border-style:none;
    margin: 0 auto;
    text-align:center;
}

